{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Liste des auteurs</h1>

    <ul>
        {% for author in authorList %}
            <a href="{{ path('author_details', {'id': author.id}) }}">
                <li>{{ author.firstName }} {{ author.name }}</li>
            </a>
        {% endfor %}
    </ul>
{% endblock %}