<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        Blog{% block title %}{% endblock %}
    </title>

    {% block scripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}

    {% block css %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body class="container-fluid p-3">
<header>
    <h1>Mon blog</h1>
</header>
<div class="row justify-content-center">
    <div class="col-8">
        {% block content %}{% endblock %}
    </div>
    <aside class="col-3">
        {% block aside %}
            {{ render(path('blog_aside')) }}
        {% endblock %}
    </aside>
</div>
</body>
</html>